@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
/* body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
} */
/* .nav {
  display: inline-flex !important;
  margin-top: 30px;
  flex-direction: column !important;
  width: 10%;
  /* display: inline; */
/* } */

.vertical-nav-bar-wrapper {
  display: flex;
  position: relative;
}
.app-container {
  display: flex;
  position: relative;
}
.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  /* background: #181818; */
  padding: 30px 0px;
}

.sidebar ul {
  list-style-type: none;
}
.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar ul li a {
  color: #bdb8d7;
  display: inline;
}

.link {
  margin-left: 2px;
}

.fa .fas {
  color: #b3b3b3 !important;
}

/* .vertical-nav-bar-container {
  display: inline;
} */

.search-form-container {
  /* display: inline;
  margin-left: 25px;
  margin-top: 5px;
  height: 100px;
  background-color: #b3b3b3 !important;
  border-style: solid; */
  /* background-color: #b3b3b3 !important; */
}
.form-inline {
  background-color: #b3b3b3 !important;
}

input,
textarea .mr-sm-2 .form-control {
  background-color: #f8f8f8 !important;
}

.nav-item {
  width: 70% !important;
  display: inline-block;
}
*/ .form-inline {
  margin-top: 5px;
  margin-left: 50px;
}
.search-bar-container {
  display: flex;
}

.icon-container {
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
}

.podcasts-container {
  /* display: flex;
  flex-direction: column; */
  background-color: #121212;
}

div .card {
  flex-direction: row !important;
}

.podcast-image {
  width: 200px;
  height: 120px;
}

.podcast-container img {
  height: auto;
}

.podcast-container {
  display: flex;
  margin-left: 100px;
}

.card-body {
  width: 500px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-top: 30px;
  background-color: #f8f8f8;
}
.signup-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 50px 350px 450px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  /* background: color f 8f 8f 8px; */
  /* background-color: blue; */
}

.input-wrap {
  padding: 15px;
}

.signup-button-container {
  display: flex;
  align-items: center;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}

/* .search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
} */

input {
  border: none;
  border-bottom: 1px solid #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
input:focus {
  border-bottom: 1px solid #222;
}
input:focus::-webkit-input-placeholder {
  color: #222;
}
input:focus::-moz-placeholder {
  color: #222;
}
input:focus:-ms-input-placeholder {
  color: #222;
}
input:focus:-moz-placeholder {
  color: #222;
}
